body a{
	font-family: "SimSun",Arial,Verdana;
	text-decoration: none;
}
.header{
	background: #202020;
	float: left;
	padding: 60px 55px 235px 55px;
	width: 140px;
	height: 475px;
	text-align: center;
	color: #ffffff;
}
.header h1{
	font-size: 24px;
}
.header ul{
	list-style-image: url(images/主页.png);
	line-height: 2.5;
	font-size: 18px;
	margin:70px 25px;
}
.header ul a{
	color: #ffffff;
}
.header table{
       width: 120px;
       margin:0px 20px; 
}
.header table td{
      text-align: left;
       width: 40px; 
}
.article{
	background: #ee82ee;
	padding: 60px 100px 0px 100px;
	width: 915px;
	height:710px; 
	margin-left: 250px;
	font-size: 16px;
}
h2{
	font-size: 32px;
}
#advice{
	padding: 10px 0px 10px 10px;
	margin-top: 10px;
	margin-bottom: 0px;
	border-left: 2px solid;
}
#answers{
	padding: 10px 0px 10px 10px;
	border-left: 2px solid;
}
.date1{
	position: absolute;
	text-align: center;
	top: 80px;
	right: 100px;
	width: 90px;
}
.date2{
	position: absolute;
	text-align: center;
	top: 470px;
	right: 100px;
	width: 90px;
}
